.Navbar{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
}
.Navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
<<<<<<< HEAD
}
.Navbar svg{
    margin-top: 5px;
    margin-right: 15px;
=======
>>>>>>> 321353f (Segunda Carga)
}